<html lang='en'>
  <body>
    <p>Hello {{user.name}}</p>
    <br/>
    <p>Welcome to MovieView,</p>
    <p>
      Click
      <b><a href="{{addressBase}}/confirm-email/{{confirmationToken}}" target='_blank'>here</a></b>
      to confirm your account.
    </p>
    <br/>
    <p>Best of luck,</p>
    <p>MovieView Team</p>
  </body>
</html>
