<html lang='en'>
  <body>
    <p>Greetings</p>
    <br />
    <p>Someone trying to reset password to your account!</p>
    <p>
      Click
      <b><a
          href='{{addressBase}}/reset-password/{{token}}'
          target='_blank'
        >here</a></b>
      to reset your account password.
      <br />
      This link is valid only 15 minutes.
    </p>
    <br />
    <p>Best of luck,</p>
    <p>MovieView Team</p>
  </body>
</html>