<html lang='en'>
  <body>
    <p>Greetings</p>
    <br />
    <p>Someone trying to reset password to your account!</p>
    <p>
      Here is your one-time password for password reset
      <b>{{otp}}</b>
    </p>
    <br />
    <p>Best of luck,</p>
    <p>MovieView Team</p>
  </body>
</html>